<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccesoDatos" value="DAL.Repositories.Sql"/>
    <add key="DALException" value="DAL"/>
    <add key="BLLException" value="BLL"/>
    <add key="UIException" value="UI"/>
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=DESKTOP-1TD99R6\SQL2014;Initial Catalog=Residica;User ID=sa;Password=serveradmin"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>